*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #180e54;
}
.header-logo img {
    max-width: 134px;
    position: relative;
    top: 40px;
    z-index: 99;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.nav {
    display: flex;
    text-align: center;
    padding-right: 30px;
    align-items: center;
}
.nav>div{
    cursor: pointer;
    padding: 30px 20px 30px 20px;
    transition: 0.5s;
}
.nav>div:hover{
    background-color: #0bc1dd;
}
.nav p {
    color: white;
}
.nav i {
    color: #07f4ff;
    font-size: 25px;
}

/*----------------header-close---------------*/
.banner {
    background-image: url(banner.jpg);
    background-size: cover;
    min-width: 100px;
    height: 600px;
    background-position: center;
    color: white;
}

.banner:after {
    position: absolute;
    display: block;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .6;
    z-index: 1;
}
.banner{
    position: relative;
}
.banner >*{
    z-index: 10;
    position: relative;
}
.banner-text-input{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }
  .banner-text-input h1{
   padding-bottom: 30px;
  }
  .banner-text-input p{
    padding-top: 20px;
   }
  .banner input {
    width: 290px;
    height: 45px;
    padding-left: 10px;
}
input:focus-visible {
    outline: none;
}
button#serch-icon {
  background: #04bdb9;
  padding: 6px 20px 6px 20px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
}
button.btn-srch:hover {
    background-color: #184c52;
}

form {
    padding: 2px;
    display: flex;
    gap: 5px;
  }
  
  input[type="search"] {
    border: none;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    color: black;
    background-color: #F5F5F5;
  }
  
  input[type="search"]::placeholder {
    color: rgba(0, 0, 0, 0.361);
  }
  
  .serch button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background-image: url("download.svg");
    opacity: 0.7;
    background-repeat: no-repeat;
  }
  button.geo{
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background-image: url("geo-alt.svg");
    opacity: 0.7;
    background-repeat: no-repeat;
  }

.serch  {
    background-color: #F5F5F5;
}
.locations{
    background-color: #F5F5F5;
}
/*-----------------bannner-close--------------*/
/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  button#defaultOpen {
    float: left;
    border-left: none;
    border-bottom: 3px solid #80808075;
    border-top: none;
    outline: none;
    border-right: 3px  solid #80808075;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
    background-color: gainsboro;
    transition: 0.5s;
}
.tab button#about {
    float: left;
    border-left: 3px  solid #80808075;
    border-bottom: 3px solid #80808075;
    border-top: none;
    outline: none;
    border-right: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
    background-color: gainsboro;
    transition: 0.5s;
}
  
  

  /* Create an active/current tablink class */
  .tab button#about.active {
    background-color: white;
    color: #07f4ff;
    border: none;
    transition: 0.5s;
    font-size: x-large;

  }
  button#defaultOpen.active {
    background-color: white;
    color: #07f4ff;
    border: none;
    transition: 0.5s;
    font-size: x-large;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 40px 30px 0 30px;
    border-top: none;
    max-width: 2000px;
    margin: auto;
}
.tabcontent h5 {
  padding-bottom: 10px;
  font-size: initial;
  font-family: cursive;
  color: #00000087;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5px;
  column-gap: 10px;
  float: right;
  position: relative;
}
.grid-item {
  background-color: white;
  font-size: 30px;
  text-align: center;
  grid-gap: 2px;
  
}
.tex-content {
  width: 50%;
}
.img-content {
  width: 754px;
}
.grid-item img {
  width: 334px;
}
.heading-banner{
  display: flex;
}
.choose-category {
  display: flex;
  gap: 40px;
  padding-top: 33px;
}
.tex-content h2 {
  word-spacing: 2px;
  font-size: 35px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tex-content p {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #0000009c;
  word-spacing: 3px;
  line-height: 1.5;
}
.text-cetegory p {
  padding-top: 10px;
}
.img-content button.btn-lst-explor {
  position: absolute;
  transform: translate(-50%, 50%);
  color: #00f8f8;
  bottom: 50%;
  left: 50%;
  padding: 42px;
  border-radius: 108px;
  width: 188px;
  height: 182px;
  background: #1d1010;
  text-align: center;
  font-size: 20px;
  border: 4px solid #00f8f8;
  cursor: pointer;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #09d0c4;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}

.button:hover {
  background-color: #555;
}
.img-1 img {
  width: 100%;
  height: 300px;
}
.img-contenter {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 22px;
  justify-content: center;
  padding-top: 33px;
}
footer{
  background-color: #180e54;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  color: white;
}

.footer-contner {
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  color: white;
  display: block;
  text-decoration: none;
  padding-top: 5px;
}
.box-footer {
  width: 25%;
  background-color: #180e54;
}
.footer-links h2{
font-size: 20px;
padding-bottom: 10px;
}
.social-media i {
  border: 1px solid white;
  padding: 18px 18px 18px 18px;
  border-radius: 110%;
  font-size: 20px;
  transition: 0.5s;
}
.social-media i:hover {
  border: 1px solid white;
  padding: 18px 18px 18px 18px;
  border-radius: 110%;
  font-size: 20px;
  color: #180e54;
  background-color: white;
}